<footer>
    <div class="footer">

        <div class="copyright">
            <div class="container">
                <div class="row d_flex">
                    <div class="col-md-8">
                        <p> Ahmet Can Turan
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class="social_icon_bottom ">
                            <li><a href="https://github.com/ahmtcntrn?tab=repositories"><i class="fa fa-github"
                                        aria-hidden="true"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/ahmet-can-turan/"><i class="fa fa-linkedin"
                                        aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="/js/custom.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>
</body>

</html>