<!-- header -->

<body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
    </div>
    <header class="header-area">
        <div class="container-fluid">
            <div class="row ">

                <div class=" col-md-2 col-sm-3">
                    <div class="logo">
                        <a href="/">lens<br><span>light</span></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-9">
                    <div class="navbar-area">
                        <nav class="site-navbar">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/photos">Gallery</a></li>
                                <li><a href="/projects">Projects</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <%if(!aut){%>
                                    <li><a href="/register">Register</a></li>
                                    <%}%>
                            </ul>
                            <button class="nav-toggler">
                                <span></span>
                            </button>
                        </nav>
                    </div>
                </div>
                <div class=" col-md-2 di_none">
                    <ul class="email text_align_right">
                        <%if(!aut){%>
                            <li><a href="/login">Login</a></li>
                            <%} else { %>
                                <li><a href="/user/logout">LogOut</a></li>
                                <%}%>

                                    <li><a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
                                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->