<%- include("partials/header.ejs")%>
   <!-- body -->

   <!-- end loader -->
   <%- include("partials/menu.ejs")%>
      <!-- top -->
      <div class="full_bg bt_fe">
         <div class="slider_main">
            <a class="discover" href="/photos">Discover</a>
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class="col-md-5">


                     <div class="creative">

                        <h1> </h1>

                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end banner -->


      <!-- end customers  -->

      <!-- end footer -->
      <%- include("partials/footer.ejs")%>